html {
  font-size: 14px;
}

@media (min-width: 768px) {
  
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: rgba(25,25,25,1);
}


* {
        box-sizing: border-box;
    }



    

    .v537_705 {
        width: 80%;
        color: rgba(255,255,255,1);
        position: absolute;
        top: 4%;
        left: 10%;
        font-family: Nunito;
        font-weight: 500;
        font-size: 6vw;
        opacity: 1;
        text-align: left;
    }

    .v537_758 {
        width: 714px;
        height: 203px;
        background: url("../images/v537_758.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 1342px;
        left: 0px;
        overflow: hidden;
    }

    .v537_759 {
        width: 714px;
        height: 203px;
        background: url("../images/v537_759.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: relative;
        top: 0px;
        left: 0px;
        overflow: hidden;
    }

    .v537_760 {
        width: 714px;
        height: 203px;
        background: rgba(21,21,21,1);
        opacity: 1;
        position: relative;
        top: 0px;
        left: 0px;
        overflow: hidden;
    }

    .v537_761 {
        width: 714px;
        height: 203px;
        background: rgba(21,21,21,1);
        opacity: 1;
        position: relative;
        top: 0px;
        left: 0px;
        overflow: hidden;
    }

    .v540_707 {
        width: 591px;
        height: 66px;
        background: url("../images/v540_707.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 69px;
        left: 59px;
        overflow: hidden;
    }

    .v540_699 {
        width: 517px;
        height: 66px;
        background: rgba(30,30,30,1);
        opacity: 1;
        position: relative;
        top: 0px;
        left: 0px;
        border-top-left-radius: 61px;
        border-top-right-radius: 61px;
        border-bottom-left-radius: 61px;
        border-bottom-right-radius: 61px;
        overflow: hidden;
    }

    .name {
        color: #fff;
    }

    .v540_700 {
        width: 210px;
        color: rgba(255,255,255,1);
        position: absolute;
        top: 17px;
        left: 19px;
        font-family: Nunito;
        font-weight: SemiBold;
        font-size: 23px;
        opacity: 1;
        text-align: left;
    }

    .v545_390 {
        width: 276px;
        color: rgba(255,255,255,1);
        position: absolute;
        top: 18px;
        left: 78px;
        font-family: Nunito;
        font-weight: SemiBold;
        font-size: 26px;
        opacity: 1;
        text-align: left;
    }

.IsMan18 {
    height: 100%;
    width: 100%;
    z-index: 999;
    position: absolute;
    background-color: white;
    top:0;
    left:0;
}

.bttns18 {
    width: 100vw;
    margin-top: 80%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.A18Txt {
    position: absolute;
    width: 100%;
    height: auto;
    font-family: 'Syne', sans-serif;
    font-weight: bold;
    font-size: 10vw;
    text-align: center;
}

.baseText {
    position: fixed;
    width: 90%;
    margin-top: 20%;
    margin-left:5%;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 5vw;
    text-align: center;
}
.iAmNot18 {
    width: 40%;
    height: 5vh;
    background-color: #f2f2f2;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 120%;
    color: black;
    -webkit-border-radius: 30vh;
    border: none;
}

.iAm18 {
    width: 40%;
    height: 5vh;
    background-color: #199c68;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 120%;
    color: white;
    -webkit-border-radius: 30vh;
    border: none;
}
.colorBack {
    width: 40vh;
    height: 40vh;
    justify-content: center;
    opacity: 1;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
}
.v537_786 {
    width: 40vh;
    height: 40vh;
    background: rgba(32,32,32,1);
    opacity: 1;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 17px 23px rgba(0, 0, 0, 0.4);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.v537_787 {
    width: 90%;
    height: 90%;
    background: #262626;
    opacity: 1;
    border-radius: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.v537_788 {
    width: 97%;
    height: 97%;
    background: rgba(32,32,32,1);
    opacity: 1;
    border-radius: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.v537_789 {
    width: 90%;
    height: 90%;
    background: #262626;
    opacity: 1;
    border-radius: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
.v537_791 {
    width: 96%;
    height: 96%;
    background: rgba(32,32,32,1);
    opacity: 1;
    border-radius: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
.v537_790 {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



.v537_792 {
    width: 3vw;
    height: 3vw;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    border-radius: 50%;
}

.v537_816 {
    width: 100vw;
    height: 10%;
    background: url("../images/v537_816.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 75%;
    left: 0%;
    opacity: 1;
    overflow:hidden;
}

    .v537_806 {
        width: 5%;
        color: rgba(255,255,255,1);
        position: relative;
        top: 0;
        left: 5%;
        font-family: Nunito;
        font-weight: SemiBold;
        font-size: 3vw;
        opacity: 1;
        text-align: left;
    }

.v537_807 {
    width: 5%;
    color: rgba(255,255,255,1);
    position: relative;
    top: 0;
    left: 82.5%;
    font-family: Nunito;
    font-weight: SemiBold;
    font-size: 3vw;
    opacity: 1;
    text-align: left;
}
.v537_808::-webkit-progress-value {
    background: #D9D9D9;
    transition: width 1s ease;
}
.v537_808::-webkit-progress-bar {
    background: #585858;
}
.logo {
    position: absolute;
    width: 15%;
    height: auto;
    left:42.5%;
    top:3%; 
}
.v537_808 {
    transition: width 1s linear;
    width: 70%;
    height: 7%;
    background: rgba(217,217,217,1);
    color: #D9D9D9;
    opacity: 1;
    position: absolute;
    top: 11%;
    left: 15%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
}

.v537_812 {
    width: 30%;
    height: 7%;
    background: rgba(88,88,88,1);
    opacity: 1;
    position: absolute;
    top: 11%;
    left: 55%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
}

    .v537_814 {
        width: 100vw;
        color: rgba(88,88,88,1);
        position: absolute;
        top: 63%;
        left: 0%;
        font-family: Nunito;
        font-weight: SemiBold;
        font-size: 6vw;
        opacity: 1;
        text-align: center;
    }

.v537_815 {
    width: 100vw;
    color: rgba(167,167,167,1);
    position: absolute;
    top: 67%;
    left: 0%;
    font-family: Nunito;
    font-weight: SemiBold;
    font-size: 6vw;
    opacity: 1;
    text-align: center;
}

    .v549_387 {
        width: 6%;
        height: auto;
        opacity: 1;
        position: absolute;
        top: 5%;
        left: 84%; 
    }